*{
    font-family:"product sans";
}
.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(30, 30, 30);
    padding: 15px;
    color: white;
    border-radius: 15px;
    align-items: center;
    width: 710px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 15px grey;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.tab{
    text-decoration: none;
    color: white;
    border-bottom: solid 2px white;
}
.contact{
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 5px 1px grey;
}
.name{
    font-weight: bold;
    margin-right: 15px;
    color: gold;
}
